<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Last Price</th>
        <th>Change</th>
        <th>% Change</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="stocks !== null">
      <tr *ngFor="let stock of stocks">
        <td>{{stock.name}}</td>
        <td>{{stock.lastPrice | currency:'USD':true}}</td>
        <td [ngClass]="{'text-success': stock.change > 0, 'text-danger': stock.change < 0}">
          {{stock.change | currency:'USD': true}}
        </td>
        <td [ngClass]="{'text-success': stock.percentageChange > 0, 'text-danger': stock.percentageChange < 0}">
          {{stock.percentageChange | number: '1.4-4'}}%</td>
        <td>{{(stock.position == 0) ? '-' : stock.position  | number: '1.0-4'}}</td>
        <td>
          <a class="btn btn-success" (click)="stopUpdating(); buyModal.show({stockName: stock.name, stockPrice: stock.lastPrice})">BUY</a>
          <a class="btn btn-danger" (click)="stopUpdating(); sellModal.show({stockName: stock.name, stockPrice: stock.lastPrice})">SELL</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row" *ngIf="stocks === null">
    <div class="col-md-9 col-md-offset-3" style="margin-bottom: 20px;">
      <span class="lead">Getting things ready in just a few seconds...</span>
    </div>
    <div class="col-md-7 col-md-offset-5">
      <div class="loader"></div>
    </div>
  </div>
</div>

<app-modal #buyModal>
  <div class="app-modal-header">
    Buy
    <strong>{{buyModal.stock?.stockName}}</strong> Stocks
  </div>
  <div class="app-modal-body">
    <form #buyForm="ngForm" (ngSubmit)=buy(buyForm.value,buyModal) autocomplete="off" novalidate> 
      <div class="form-group">
        <label for="recipient-name" class="form-control-label">Unit Price:</label>
        <span>{{buyModal.stock?.stockPrice | currency:'USD': true}}</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': buyForm.controls.numberOfStocks?.invalid && (buyForm.controls.numberOfStocks?.touched)}">
        <label for="message-text" class="form-control-label"># of Units to Purchase:</label>        
        <input id="numberOfStocks" (ngModel)="numberOfStocks" name="numberOfStocks" 
          type="number" class="form-control" required min="0" max="1000" step="5" />
      </div>
      <div *ngIf="buyForm.controls.numberOfStocks?.invalid && 
      (buyForm.controls.numberOfStocks?.touched)" class="alert alert-danger margin-base-vertical">
        Please specify the number of stocks you want to buy
      </div>
      <button type="button" class="btn btn-default" (click)="cancel(buyForm, buyModal)">Cancel</button>
      <button type="submit" [disabled]="buyForm.invalid" class="btn btn-primary">Buy</button>
    </form>
  </div>
  <div class="app-modal-footer">
    <!-- <button type="button" class="btn btn-default" (click)="cancel(buyModal)">Cancel</button>
    <button type="submit" [disabled]="buyForm.invalid" class="btn btn-primary">Buy</button> -->
  </div>
</app-modal>

<app-modal #sellModal>
  <div class="app-modal-header">
    Sell {{sellModal.stock?.stockName}} Stocks
  </div>
  <div class="app-modal-body">
    Under Construction...
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="cancel(sellModal)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="sell(sellModal);">Sell</button>
  </div>
</app-modal>